clientId=12312312312312
clientSecret=mySuperSecretClientSecret
authority=https://login.windows.net/<your-company>
redirectURI=http://localhost:3154
resourceURL=https://api.businesscentral.dynamics.com